.error input {
  box-shadow: 0 0 3px #c51110;
}
.error textarea {
  box-shadow: 0 0 3px #c51110;
}
.error select {
  box-shadow: 0 0 3px #c51110;
}
.error label {
  color: #c51110;
}
.error-message {
  color: #c51110;
  display: block;
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.show-password-icon {
  float: right;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

@media screen and (max-width: 576px) {
  .dg_button {
    width: 100%;
  }
}
